body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d1b2a;
  font-family: Arial, sans-serif;
}

h1 {
  color: #e0e1dd;
  margin-bottom: 20px;
  text-align: center;
}

.clockContainer {
  background-color: #1b263b;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px #778da9;
  color: #e0e1dd;
  margin: auto;
  max-width: 600px;
}

select {
  background-color: #778da9;
  color: #e0e1dd;
  padding: 10px;
  font-size: 1em;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

.cities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 10px 0;
  border-bottom: 1px solid #778da9;
}
.cities h2 {
  margin: 0;
  font-size: 1.5em;
}

.cities .time {
  font-size: 2em;
  color: #778da9;
  font-weight: bold;
}

.cities .date {
  font-size: 0.9em;
  color: #555;
}
small {
  font-size: 0.3em;
  vertical-align: super;
}
footer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #778da9;
}
